{% extends 'my_app/base.html' %} {% block content %}
<div class="col-md-6 m-auto">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Customer Details</h2>
    <a href="{% url 'my_app:home' %}" class="btn btn-outline-dark">Back</a>
  </div>
  <hr />
  <div class="card border-light mb-3" style="max-width: 18rem">
    <div class="card-header">
      {{ customer.first_name }} {{ customer.last_name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ customer.email }}</h5>
      <ul class="card-text">
        <li>{{ customer.address }}</li>
        <li>{{ customer.city }}</li>
        <li>{{ customer.zipcode }}</li>
      </ul>
    </div>
    <div class="card-footer">
      <a
        href="{% url 'my_app:update_customer' customer.id %}"
        class="btn btn-success btn-sm"
        >Edit</a
      >
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-sm btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Delete
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-muted">
        <p>
          Are you sure you want to delete {{customer.first_name}}
          {{customer.last_name}}'s card?
        </p>
        <p>This card will be definitely deleted.</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-success"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <a
          href="{% url 'my_app:delete_customer' customer.id %}"
          class="btn btn-danger btn-sm"
          >Delete</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
