<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'my_app:home' %}">review</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'my_app:home' %}"">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_app:logout' %}">Log Out {{user.username}}</a>
        </li>

        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <div class="position-relative">
      <form class="d-flex" method="POST" action="{% url 'my_app:search_customer' %}" id="search-customer-form">
      {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search customer..." id="search-customer-input" aria-label="Search" name="search_customer">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
      <ul class="list-group position-absolute w-100 "id="search-customer-result" style="top:100%; margin-top: 8px; max-height: 280px; overflow-y: auto; padding-rignt: 10px; z-index: 1000;">

      </ul>
      </div>
      {% endif %}
    </div>
  </div>

</nav>

<script type='text/javascript'>
document.addEventListener('DOMContentLoaded', function() {
    const searchForm = document.getElementById('search-customer-form');
    const searchInput = document.getElementById('search-customer-input');
    const searchResults = document.getElementById('search-customer-result');

    searchForm.addEventListener('submit', function(event) {
        event.preventDefault();

        const xhr = new XMLHttpRequest();
        const formData = new FormData(searchForm);

        xhr.open('POST', searchForm.action, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    const data = JSON.parse(xhr.responseText);
                    searchResults.innerHTML = '';

                    if (data.error) {
                        pass
                    } else if (data.message) {
                        searchResults.innerHTML = `<li class="list-group-item">${data.message}</li>`;
                    } else {
                        data.map(customer => {
                            const listItem = document.createElement('a');
                            listItem.classList.add('list-group-item');
                            listItem.href = `/customer/${customer.id}`;
                            listItem.textContent = `${customer.first_name} ${customer.last_name} - ${customer.city}`;
                            searchResults.appendChild(listItem);
                        });
                    }
                } else {
                    console.error('Une erreur est survenue lors de la requête AJAX');
                }
            }
        };

        xhr.send(formData);
    });
    document.addEventListener('click', function(event) {
        if (!searchForm.contains(event.target) && !searchResults.contains(event.target)) {
            searchResults.innerHTML = '';
            searchInput.value = "";

        }
    });
});
</script>

