{% extends 'my_app/base.html' %} {% block content %}

<div class="col-md-6 m-auto">
  <div style="min-height: 70px; margin: 10px 0px">
    {% if form.errors %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Your registration has problems: {% for field in form %} {{ field.errors }}
      {% endfor %}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %}
  </div>

  <h2>Register</h2>
  <hr />
  <form method="POST">
    {% csrf_token %} {% for field in form %}
    <div class="form-group my-3">
      {{field.label}}{{ field }} {% if field.help_text %}
      <small class="">{{ field.help_text |safe }}</small>
      {% endif %} {% endfor %}
    </div>
    <button type="submit" class="btn btn-success">Register</button>
  </form>
</div>
{% endblock %}
